@import "tailwindcss";

@theme {
  --color-background: #0f111a;
  --color-primary: #6366f1;
  --color-secondary: #1e293b;
  --color-accent: #8b5cf6;
  --color-card: #161821;
  --color-tag: #222533;
  --color-tag-hover: #2d3143;
}

@layer base {
  body {
    @apply bg-background text-white;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #2d3143;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #3d425a;
}
